# Port for local / VPS execution
PORT=8787

# Admin Panel Password (Required to access /admin and manage accounts)
ADMIN_PASSWORD=Masteng7

# Auto Health Check Interval in Minutes (Default: 60 minutes)
CHECK_INTERVAL_MINUTES=60

# Uncomment the line below and set the path to your browser executable if needed, if you running with pterodactyl panel
# BROWSER_PATH=/home/container/chrome-linux/chrome